@media screen and (min-width: 768px) {
    
    header img {
        width: auto;
        height: auto;
        min-height: none;
        max-height: none;
    }
    
    .account {
        font-size: 1.1rem;    
    }
    
    #home h1:first-of-type {
        font-size: 3rem;
        margin-top: 0px;
    }
    
    #home .home-intro {
        width: 100%;
        padding-bottom: 0px;
        background-image: url(/img/background-desktop.jpeg);
    }
    
    #home .home-intro p {
        margin-top: 37px;
        width: 49.4%;
        max-width: 504.2px;
        font-size: 1.25rem;
    }
    
    #home .home-intro input {
        display: block;
        margin: 25.5px auto 24.5px auto;
        width: 216px;
    }
    
    #home .home-intro .sod_select {
        display: block;
        width: 216px;
        margin: 0px auto 0px auto;
    }
    
    #home .home-intro .sod_select .sod_list_wrapper {
        width: 100%;
    }
    
    #home .home-intro div:first-of-type a {
        display: block;
        width: 182px;
        height: 40px;
        margin: 52px auto 97px auto;
        float: none;
    }
    
    #home .pasos-home {
        max-width: 450.7px;
        margin: 62px auto auto auto;
    }
    
    #home h1:last-of-type {
        font-size: 3.25rem;
        max-width: 923px;
        margin: 121px auto auto auto;
        /*Oswald*/
    }
    
    #home .retos {
        width: 90%;
        max-width: 923px;
        min-width: 739px;
        margin: auto auto 30px auto;
        -webkit-display: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #home .reto {
        float: left;
        width: 24%;
        max-width: 221px;
        min-width: 180px;
        margin-bottom: 33px;
    }
    
    #home .reto .bar {
        height: 49px;
    }
    
    footer {
        width: 100%;
    }
    
}

@media screen and (min-width: 1200px) {
    
    .account {
        font-size: 1.5rem;    
    }
    
}