@media screen and (min-width: 768px) {
    
    header img {
        width: auto;
        height: auto;
        min-height: none;
        max-height: none;
    }
    
    .account {
        font-size: 1.1rem; 
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    }
    
    #home h1:first-of-type {
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        margin-top: 86px;
    }
    
    #home .home-intro {
        width: 100%;
        padding-bottom: 0px;
        background-image: url(../img/background-desktop.jpeg);
        background-size: cover;
        background-position: center;
    }
    
    #home p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    
    #home .home-intro p {
        margin-top: 37px;
        width: 52%;
        max-width: 504.2px;
        font-size: 1.25rem;
    }
    
    #home .home-intro input {
        font-family: 'Oswald', sans-serif;
        display: block;
        margin: 25.5px auto 24.5px auto;
        width: 22.5%;
        min-width: 260px;
    }
    
    #home .home-intro .sod_select {
        display: block;
        width: 22.5%;
        min-width: 260px;
        margin: 0px auto 0px auto;
    }
    
    #home .home-intro .sod_select .sod_list_wrapper {
        width: 100%;
    }
    
    #home .home-intro div:first-of-type a {
        display: block;
        width: 19%;
        height: 40px;
        margin: 52px auto 97px auto;
        float: none;
    }
    
    #home .pasos-home {
        max-width: 450.7px;
        margin: 62px auto 0px auto;
    }
    
    #home h1:nth-child(3) {
        font-family: 'Oswald', sans-serif;
        font-size: 1.8rem;
        width: 90%;
        max-width: 923px;
        padding: 0px;
        margin: 121px auto 27px auto;
    }
    
    #home .retos {
        width: 90%;
        max-width: 923px;
        min-width: 739px;
        margin: auto auto 30px auto;
        -webkit-display: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #home .reto {
        float: left;
        width: 24%;
        max-width: 221px;
        min-width: 180px;
        margin-bottom: 33px;
    }
    
    #home .reto .bar {
        height: 49px;
    }
    
    footer {
        width: 100%;
    }
    
    
    
    /* PERFIL ------------------------------------------------------------- */
    
    #header_inner {
        box-shadow: 0px 0px 0px #fff;;
    }
    
    #perfil .perfil {
        width: 95%;
        max-width: 1020px;
        float: none;
        margin: auto auto auto auto;
        padding: 0px;
    }
    
   .image {
        float: left;
        margin: auto 0px 0px auto;
    }
    
    .perfil img {
        float: left;
        margin: auto 0px 0px auto;
    }
    
    .perfil .name {
        float: left;
        margin: auto auto 0px 20px;
        padding: 0px 0px; 
    }
    
    .perfil h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        height: 32px;
    }
    
    .perfil p {
        font-size: 1rem;
        font-weight: 300;
    }
    
    .perfil h2 {
        display: block;
        width: 60%;
        font-family: 'Oswald', sans-serif;
        font-size: 1.125rem;
        height: 26px;
        text-align: left;
        float: left;
        clear: none;
        margin: 10px 0px 20px 20px;
    }
    
    #perfil .intereses {
        width: 40%;
        height: 58px;
        margin: auto auto auto 20px;
        float: left;
        clear: none;
    }
    
    #perfil .intereses div {
        float: left;
        width: 130px;
        height: 24px;
        text-align: center;
        line-height: 12px;
        margin: auto 10px 10px auto;
    }
    
    #agrega-intereses {
        font-family: 'Oswald', sans-serif;
        font-size: 1.125rem;
        float: left;
        width: 180px;
        height: 40px;
        margin: 0px;
        padding: 0px;
        clear: none;
        background-color: #fff;
        border: 0px;
        color: #64296d;
    }
    
    #agrega-intereses::before {
        font-family: 'Roboto', sans-serif;
        content: "+";
        padding: 5px 10px;
        display: inline;
        background-color: #64296d;
        margin: auto 10px auto 0px;
        color: white;
        font-size: 1.5rem;
    }
    
    #perfil h2:nth-child(2) {
        width: 95%;
        max-width: 1020px;
        height: auto;
        margin: 48px auto auto auto;
        padding: 0px;
    }
    
    #perfil .retos {
        width: 95%;
        max-width: 1020px;
        margin: 18px auto 22px auto;
        -webkit-display: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #perfil .reto {
        width: 23%;
        min-width: 220px;
        height: auto;
        padding-top: 60px;
        margin: auto 5px 30px 0px;
    }
    
    #perfil .reto h3 {
        font-size: 1.25rem;
        margin-top: 0px;
    }
    
    .complete {
        visibility: hidden
    }
    
    #perfil .reto .cta-retos {
        text-align: center;
        width: 70%;
        max-width: 171px;
    }
    
    #perfil .retos .reto .bar {
        padding: 10px 0px;
    }
    
    #perfil .reto div div:first-of-type, #perfil .reto div div:last-of-type {
        margin: auto auto auto 8%;
        float: left;
        display: block;
        width: 90%;
        font-size: 1rem;
        font-weight: 500;
    }
    
    #perfil .reto div div:last-of-type {
        font-size: 0.875rem;
        font-weight: 300;
    }
    
    
    
    
    /* Ruta ------------------------------------------------------------- */
    
    #ruta h1:first-of-type, #subtitle-ruta {
        display: none;
    }
    
    #ruta .pasos {
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        max-width: 310px;
        margin: 50px auto auto auto;
    }
    
    #ruta .paso {
        
    }
    
    #ruta #paso-1 h2 {
        display: none;
    }
    
    #ruta #paso-1 p:first-of-type {
        margin: 42px auto 18.4px auto;
        text-align: center;
    }
    
    #ruta #paso-1 div:first-of-type {
        width: 68%;
        max-width: 960px;
        height: 14.5vw;
        max-height: 205.8px;
        margin: auto auto;
        float: none;
        overflow: hidden;
    }
    
    #ruta #paso-1 div:first-of-type img {
        width: 100%;
        margin-top: -100px;
    }
    
    #ruta #paso-1 div:first-of-type h3 {
        margin: 0px;
        left: 150px;
    }
    
    #ruta h3:nth-child(4) {
        text-align: center;
        width: 100%;
        max-width: 960px;
        margin-top: 43.7px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6.5px;
        padding: 0px;
        float: none;
        font-size: 1.5rem;
    }
    
    #ruta #paso-1 p:last-of-type {
        text-align: center;
        width: 100%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 18px;
        padding: 0px;
        float: none;
        font-size: 1rem;
    }
    
    #mapa-paso1-ruta {
        width: 59%;
        max-width: 874,5px;
        height: 20.8vw;
        max-height: 307.9px;
        margin: auto auto 60px auto;
        float: none;
        overflow: hidden;
    }
    
    #mapa-paso1-ruta img {
        width: 100%;
    }
    
    #ruta #paso-1-continuar {
        width: 25.6%;
        max-width: 246px;
    }
    
    #paso-2-continuar {
        width: 246px;
        float: right;
        margin-right: 34.1%;
    }
    
    #ruta #paso-2-atras {
        font-size: 1rem;
        width: auto;
        float: left;
        margin-left: 34.1%;
        color: #2ab6c4;
        background-color: #fff;
        border: #fff;
    }
    
    #paso-3-atras {
        font-size: 1rem;
        color: #2ab6c4;
        background-color: #fff;
        border: #fff;
    }
    
    #concluir-reto {

    }
    
    
    
    
    /* Crear Ruta ---------------------------------------------- */
    
    #ruta-crear h1:nth-child(1) {
        font-size: 1.875rem;
        margin: 30px auto 3px 5.2%;
    }
    
    #ruta-crear p:first-of-type {
        font-size: 1rem;
        margin: auto auto 40.2px 5.2%;
    }
    
    #ruta-crear .pasos {
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        max-width: 310px;
        margin: 50px auto 40.3px auto;
    }
    
    #ruta-crear #paso-1 {
        width: 90%;
        margin: auto;
    }
    
    #ruta-crear h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: auto auto 38px auto;
    }
    
    #ruta-crear #paso-1 form {
        -webkit-display: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        height: auto;
        margin: auto auto 64.4px auto;
        padding: 0px;
        width: 100%;
    }
    
    #ruta-crear #paso-1 #wrapper1-paso1-form {
        width: 55%;
    }
    
    #ruta-crear #paso-1 #wrapper2-paso1-form {
        width: 40%;
    }
    
    #ruta-crear #paso-1 form .image {
        float: left;
        clear: none;
        width: 100%;
        margin: 0px auto 5px 0px;
    }
    
    #ruta-crear #paso-1 form div:first-of-type img {
        width: 100%;
    }
    
    #ruta-crear #cta-subirfoto-ruta {
        float: left;
        clear: none;
        width: 500%;
        height: 40px;
        max-width: 300px;
        margin: auto;
    }
    
    #ruta-crear #paso-1 form label:first-of-type {
        display: block;
        float: left;
        margin: 0px;
        width: 100%;
    }
    
    #ruta-crear #paso-1 form input:first-of-type{
        display: block;
        float: left;
        margin: 0px 0px 15px 0px;
        height: 39px;
        max-width: none;
        width: 90%;
    }
    
    #ruta-crear #paso-1 form  label:last-of-type {
        width: 100%;
        display: block;
        float: left;
        margin: 0px;
    }
    
    #ruta-crear #paso-1 form textarea {
        display: block;
        float: left;
        width: 90%;
        margin: 0px;
        height: 16.5vw;
    }
    
    #ruta-crear #paso-1-continuar {
        width: 30%;
        margin: auto;
        float: none;
        clear: both;
    }
    
    #ruta-crear {
        width: 100%;
    }
    
    #ruta-crear #paso-2 {
        width: 100%;
    }
    
    #ruta-crear #paso-2 h3 {
        font-family: 'Oswald', sans-serif;
        text-align: left;
        font-size: 1.125rem;
        margin: 38px auto 16px auto;
        width: 63.1%;
    }
    
    #ruta-crear #paso-2 form {
        -webkit-display: flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    
    #ruta-crear #paso-2 form .image {
        margin: auto auto 19px auto;
        float: none;
        order: 1;
        width: 63.1%;
        height: 22.3vw;
        overflow: hidden;
    }
    
    #ruta-crear #paso-2 form .image img {
        width: 100%;
    }
    
    #ruta-crear #paso-2 form div:last-of-type {
        order: 2;
        margin: auto auto 36.4px auto;
        float: none;
        width: 171px;
        height: 40px;
    }
    
    #ruta-crear #paso-2 form label:first-of-type {
        order: 3;
        margin: auto auto 10px auto;
        float: none;
        text-align: left;
        width: 238px;
    }
    
    #ruta-crear #paso-2 form input {
        order: 4;
        margin: auto auto 35px auto;
        float: none;
        height: 24px;
        width: 238px;
    }
    
    #ruta-crear #paso-2 form label:last-of-type {
        order: 5;
        margin: auto auto 10px auto;
        float: none;
        text-align: left;
        width: 238px;
    }
    
    #ruta-crear #paso-2 form input:last-of-type {
        order: 6;
        margin: auto auto auto auto;
        float: none;
    }
    
    #ruta-crear #paso-2 #paso-2-atras {
        width: 121px;
        margin: auto 0px auto 35.1%;
        background-color: #fff;
        border: 0px none;
        color: #2ab6c4;
    }
    
    #ruta-crear #paso-2 #paso-2-continuar {
        
    }
}

@media screen and (min-width:996px) {
    #perfil .intereses {
        width: 50%;
        max-width: none;
        height: 58px;
        margin: auto auto auto 20px;
        float: left;
        clear: none;
    }
}