* {
  padding: 0;
  margin: 0;
  font-weight: 400; }

.black {
  color: #252523; }

.black-bg {
  background-color: #252523; }

.purple {
  color: #64296d; }

.purple-bg {
  background-color: #64296d; }

.purple-bg-op {
  background-color: rgba(100, 41, 109, 0.7); }

.blue-dark {
  color: #186c73; }

.blue-dark-bg {
  background-color: #186c73; }

.blue-light {
  color: #2ab6c4; }

.blue-light-bg {
  background-color: #2ab6c4; }

.red {
  color: #d0021b; }

.red-bg {
  background-color: #d0021b; }

.grey {
  color: #b7b7b7; }

.grey-bg {
  background-color: #b7b7b7; }

.grey-light {
  color: #eee; }

.grey-light-bg {
  background-color: #eee; }

.white {
  color: #fff; }

.white-bg {
  background-color: #fff; }

.pink {
  color: #a378a6; }

.pink-bg {
  background-color: #a378a6; }

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 100%; }

.space-between {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

img {
  max-width: 100%;
  vertical-align: inherit; }

ul {
  list-style-type: none; }

section {
  min-height: 200px; }

#header_inner {
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }
  #header_inner nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    #header_inner nav .element {
      height: 35px;
      display: inline-block; }
      #header_inner nav .element .navbar-header, #header_inner nav .element img {
        height: 100%; }
      #header_inner nav .element .navbar-header {
        float: left; }
        #header_inner nav .element .navbar-header svg polygon {
          fill: #fff; }
        #header_inner nav .element .navbar-header .nav-menu {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.2s ease-in-out;
          display: none;
          color: #fff;
          position: absolute;
          top: 67px;
          z-index: 2;
          right: 0;
          background-color: rgba(100, 41, 109, 0.9);
          padding: 1rem 0;
          border-top: 1px solid #2ab6c4; }
          #header_inner nav .element .navbar-header .nav-menu li {
            padding: 1rem 2rem;
            text-align: right;
            font-weight: 300; }
            #header_inner nav .element .navbar-header .nav-menu li a {
              color: #fff;
              font-weight: inherit; }
        #header_inner nav .element .navbar-header.search {
          padding-right: 2rem; }
          #header_inner nav .element .navbar-header.search img {
            height: 25px;
            margin-top: 5px; }
        #header_inner nav .element .navbar-header .search-bar {
          width: 100vw;
          background-color: rgba(42, 182, 196, 0.9); }
          #header_inner nav .element .navbar-header .search-bar input {
            margin-left: 15%;
            background-color: transparent;
            color: #fff;
            position: relative;
            z-index: 1;
            width: 70%;
            max-width: 70%;
            margin-bottom: 2rem;
            border: none;
            border-bottom: 2px solid #fff;
            font-size: 24px;
            padding: 0.3rem 0;
            opacity: 1;
            background: url(../img/pin.png) no-repeat right center; }
          #header_inner nav .element .navbar-header .search-bar .sod_select {
            width: 70vw;
            margin-left: 15%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background-color: transparent;
            border-color: #fff;
            color: #fff;
            z-index: 2;
            margin-bottom: 2rem; }
            #header_inner nav .element .navbar-header .search-bar .sod_select:before {
              content: ""; }
            #header_inner nav .element .navbar-header .search-bar .sod_select:after {
              bottom: calc(50% - 7px);
              font-size: 14px; }
            #header_inner nav .element .navbar-header .search-bar .sod_select .sod_list_wrapper {
              width: 70vw;
              border-color: #fff;
              background-color: rgba(255, 255, 255, 0.9);
              color: #64296d; }
              #header_inner nav .element .navbar-header .search-bar .sod_select .sod_list_wrapper .active {
                color: #2ab6c4; }
          #header_inner nav .element .navbar-header .search-bar .call-to-action a {
            float: left;
            position: relative;
            z-index: 1;
            margin-left: 30%; }
  #header_inner h1 {
    margin: 0;
    content: ""; }
  #header_inner h3 {
    color: #2ab6c4; }

section {
  margin: auto; }

footer {
  background-color: #64296d;
  width: 100vw;
  bottom: 0;
  padding: 0.75rem 2rem;
  -webkit-align-items: center;
  align-items: center;
  border-top: 2px solid #2ab6c4; }
  footer a {
    color: #2ab6c4; }
  footer .secondary-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto 30px; }
  footer .social-icons {
    margin-bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto; }
    footer .social-icons li {
      margin: 0 1rem; }

.navbar {
  margin: 0; }

.main_cont {
  margin-top: 6rem; }

.clearfix {
  clear: both; }

.container-override {
  margin-left: -15px;
  width: 100vw; }

.mobile .image {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.categoria {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .categoria .cat-item {
    cursor: pointer; }
    .categoria .cat-item.selected {
      color: #2ab6c4;
      border-bottom: 2px solid #64296d; }

.pasos {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .pasos .pasos-sel {
    background-color: #2ab6c4;
    color: #fff;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px; }
    .pasos .pasos-sel.active {
      color: #2ab6c4;
      background-color: #64296d; }

.paso {
  display: none; }

#paso-1 {
  display: block; }

.show {
  display: block; }

.inicio, .registro, .ver-mapa {
  cursor: pointer; }

.overlay {
  display: none;
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0; }
  .overlay .overlay-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9); }
  .overlay .map {
    width: 80vw;
    height: 80vh;
    top: 10vh;
    margin: auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    display: none; }
    .overlay .map .close-btn {
      position: absolute;
      color: #2ab6c4;
      right: 0;
      top: -40px;
      font-size: 30px;
      cursor: pointer; }
  .overlay .account-container {
    display: none;
    width: 80%;
    max-width: 320px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    text-align: center; }
    .overlay .account-container .close-btn {
      position: absolute;
      color: #2ab6c4;
      right: 0;
      top: -40px;
      font-size: 30px;
      cursor: pointer; }
    .overlay .account-container h3 {
      padding: 1rem 2rem;
      text-align: left;
      margin: 0; }
    .overlay .account-container input {
      border: none;
      border-bottom: 2px solid #2ab6c4;
      margin: auto;
      padding: 0.3rem;
      margin-top: 2rem; }
    .overlay .account-container label {
      margin-top: 2rem; }
    .overlay .account-container .cta {
      float: left;
      margin-top: 2rem;
      margin-left: 15%; }
    .overlay .account-container p {
      padding: 2rem 1rem 3rem;
      width: 100%; }
      .overlay .account-container p span {
        text-decoration: underline;
        cursor: pointer; }

.mapa-sub-cont {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

#ruta-crear .paso .cta_2, #ruta .paso .cta_2 {
  float: left;
  margin: 0 5%; }

.styleguide .header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  align-content: center;
  border-bottom: 2px solid #2ab6c4;
  padding: 1rem 0; }
  .styleguide .header h3 {
    margin: 0; }

.big-margin {
  margin: 3rem 0 2rem; }

.small-margin {
  margin: 1rem 0; }

.space-bottom {
  margin-bottom: 3rem !important; }

.space-top {
  padding-top: 1rem; }

.move-left {
  margin-left: 1rem; }

hr {
  background-color: #2ab6c4;
  height: 1px;
  border: 0; }

.mid-width {
  width: 600px; }

.cta {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: auto;
  margin: auto; }
  .cta.main {
    background-color: #64296d;
    color: #fff;
    border: 3px solid #64296d; }
    .cta.main:hover {
      opacity: 0.7; }
    .cta.main:active {
      background-color: rgba(238, 238, 238, 0.5); }
  .cta.secondary {
    border: 3px solid #2ab6c4;
    background-color: #2ab6c4;
    color: #fff; }
    .cta.secondary:hover {
      opacity: 0.7; }
    .cta.secondary:active {
      background-color: rgba(238, 238, 238, 0.5); }
  .cta.full {
    width: 100%; }
  .cta.big {
    width: 70%; }
  .cta.small {
    width: 40%; }

form label {
  width: 200px;
  float: left; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0.5rem 0 0.5rem;
  vertical-align: middle;
  background: url(../img/icon-sprite.png) -40px top no-repeat;
  cursor: pointer;
  float: left; }

input[type="checkbox"]:checked + label span {
  background: url(../img/icon-sprite.png) -60px top no-repeat; }

input[type="radio"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 1rem 0 0;
  vertical-align: middle;
  background: url(../img/icon-sprite.png) -20px top no-repeat;
  float: left; }

input[type="radio"]:checked + label span {
  background: url(../img/icon-sprite.png) left top no-repeat; }

input, textarea, select {
  font-size: 1rem;
  margin: 1em 0; }

input[type='submit'] {
  padding: .5rem 2rem; }

input[type='text'], input[type='email'], input[type='password'], textarea {
  padding: 1rem .6rem;
  border: 3px solid #64296d;
  background: #fff;
  color: #64296d;
  width: 80%;
  max-width: 320px; }

.error {
  border: 3px solid #d0021b !important;
  color: #d0021b !important;
  position: relative; }

.valid {
  border: 3px solid #2ab6c4 !important;
  color: #2ab6c4 !important; }

textarea {
  max-width: 600px;
  width: 80%;
  height: 10rem; }

.selector_cont label {
  float: none; }

.left {
  float: left; }

.right {
  float: right; }

.full {
  width: 100%; }

.colors {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.color {
  margin-right: 1rem; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px; }

.home-intro .sod_select,
.navbar-header .sod_select {
  width: 70vw;
  margin-left: 15%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  z-index: 2;
  margin-bottom: 2rem; }
  .home-intro .sod_select:before,
  .navbar-header .sod_select:before {
    content: ""; }
  .home-intro .sod_select:after,
  .navbar-header .sod_select:after {
    bottom: calc(50% - 7px);
    font-size: 14px; }
  .home-intro .sod_select .sod_list_wrapper,
  .navbar-header .sod_select .sod_list_wrapper {
    width: 70vw;
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    color: #64296d; }
    .home-intro .sod_select .sod_list_wrapper .active,
    .navbar-header .sod_select .sod_list_wrapper .active {
      color: #2ab6c4; }
.home-intro .call-to-action a,
.navbar-header .call-to-action a {
  float: left;
  position: relative;
  z-index: 1;
  margin-left: 30%; }
  .home-intro .call-to-action a:hover,
  .navbar-header .call-to-action a:hover {
    color: #fff;
    border-color: #fff; }

.iconos .sprite-2 {
  width: 125px;
  height: 125px;
  background-image: url("../img/Sprite2.png"); }
.iconos #icono-1 {
  background-position: 0 0; }
.iconos #icono-2 {
  background-position: 0 -125px; }
.iconos #icono-3 {
  background-position: -125px 0; }
.iconos #icono-4 {
  background-position: -125px -125px; }

a {
  color: #64296d;
  text-decoration: none; }
  a:hover {
    color: #a378a6;
    text-decoration: none; }

.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 400; }

.oswald h3 {
  font-family: inherit; }

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.roboto-thick {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

h1,
h2,
h3 {
  text-transform: uppercase; }

h1,
.t-h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem; }

.mobile h1 {
  font-size: 2rem; }

h2,
.t-h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem; }

.mobile h2 {
  font-size: 1.5rem; }

h3,
.t-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.mobile h3 {
  font-size: 1.25rem; }

p, label {
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem; }

label {
  margin-top: 1rem;
  margin-bottom: 0; }

#header_home {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 3; }
  #header_home img {
    height: 35px;
    margin: 1.5rem 0 0 1rem; }
  #header_home .account {
    margin: 2rem 1rem 0 0; }
  #header_home a {
    color: #fff; }
    #header_home a:first-of-type {
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: 1px solid #fff; }
    #header_home a:hover {
      opacity: 0.8; }

.pasos-home {
  margin-bottom: 2rem; }
  .pasos-home > div {
    margin-bottom: 2rem; }

.home-intro {
  width: 100vw;
  position: relative;
  background-image: url(../img/home.jpg);
  background-size: cover;
  padding: 6rem 0 2rem;
  margin-bottom: 4rem; }
  .home-intro h1, .home-intro h2, .home-intro h3, .home-intro p {
    text-align: center;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px #000; }
    .home-intro h1 span, .home-intro h2 span, .home-intro h3 span, .home-intro p span {
      text-decoration: underline;
      cursor: pointer; }
  .home-intro h1 {
    text-transform: uppercase; }
  .home-intro input {
    margin-left: 15%;
    background-color: transparent;
    color: #fff;
    position: relative;
    z-index: 1;
    width: 70%;
    max-width: 70%;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 24px;
    padding: 0.3rem 0;
    opacity: 1;
    background: url(../img/pin.png) no-repeat right center; }

.retos {
  width: 100vw; }
  .retos .reto {
    position: relative;
    background-image: url(https://unsplash.it/600/900/?random);
    background-size: cover;
    padding-top: 3rem; }
    .retos .reto h3 {
      text-align: center;
      position: relative;
      z-index: 1;
      margin-bottom: 1rem;
      text-shadow: 0px 2px 2px #000; }
    .retos .reto .cta {
      margin: auto;
      position: relative;
      z-index: 1;
      margin-bottom: 2rem; }
    .retos .reto .bar {
      position: relative;
      z-index: 1;
      padding: 1rem 2rem; }
      .retos .reto .bar li {
        float: left;
        margin-left: 1rem; }
    .retos .reto .completed {
      margin-bottom: 3rem; }

.perfil .image {
  width: 30%;
  height: 30%;
  max-width: 200px;
  float: left; }
  .perfil .image img {
    width: 100%; }
.perfil .name {
  width: 65%;
  margin: 0 0 1rem 5%;
  float: left; }
.perfil .interes {
  float: left;
  padding: 5px 10px;
  border: 1px solid #64296d;
  margin: 0 1rem 1rem 0;
  cursor: pointer; }
  .perfil .interes:after {
    content: 'X';
    margin-left: 10px; }

.btn-filtro {
  border: 3px solid #2ab6c4;
  color: #2ab6c4;
  margin: auto;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 60%;
  cursor: pointer;
  display: block; }
  .btn-filtro:hover {
    opacity: 0.7; }

a.btn-filtro {
  margin-top: 2rem; }

.filtro-cont {
  height: 0;
  overflow: hidden; }

#paso-3 label {
  margin-bottom: 2rem; }
#paso-3 h3 {
  margin-top: 2rem; }

.filtro {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #64296d;
  clear: both; }
  .filtro:last-of-type {
    border: none; }
  .filtro .icon.active {
    border-bottom: 4px solid #2ab6c4; }
  .filtro label {
    margin-bottom: 2rem; }

.cerrar-filtros {
  float: right;
  font-size: 2rem;
  cursor: pointer; }

.ver-mapa {
  text-decoration: underline; }

#ruta .image {
  position: relative; }
  #ruta .image h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 2px 2px #252523; }
#ruta .selector_cont {
  text-align: center; }
#ruta .pasos-agregar {
  border-top: 1px solid #64296d;
  padding-top: 1rem; }
#ruta .paso-ruta {
  border-bottom: 1px solid #64296d;
  padding-bottom: 1rem;
  margin-bottom: 2rem; }
  #ruta .paso-ruta h3 {
    float: left; }
  #ruta .paso-ruta .arrow {
    float: right;
    margin-top: 1rem;
    line-height: 1.5rem; }
  #ruta .paso-ruta .paso-desc {
    display: none; }
  #ruta .paso-ruta.active .paso-desc {
    display: block; }
  #ruta .paso-ruta.active .arrow {
    transform: rotate(180deg); }

#felicidades a {
  display: block; }
#felicidades h3 {
  text-align: center; }
#felicidades .social {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 1rem; }
#felicidades p {
  padding: 1rem 0;
  margin: 0; }
#felicidades .cta {
  margin-bottom: 2rem; }
#felicidades .star-rating {
  float: left;
  text-align: center;
  width: 100%;
  margin: 0; }
  #felicidades .star-rating .clear-rating,
  #felicidades .star-rating .caption {
    display: none; }
  #felicidades .star-rating .rating-container .rating-stars {
    color: #2ab6c4; }

/*# sourceMappingURL=style.css.map */
