$black:#252523;
$purple:#64296d;
$blue-dark:#186c73;
$blue-light:#2ab6c4;
$grey:#b7b7b7;
$grey-light:#eee;
$red:#d0021b;
$pink:#a378a6;
$white:#fff;

$alpha:0.7;
$alpha_2:0.5;
$alpha_3:0.9;

.black{color:$black;}
.black-bg{background-color:$black}
.purple{color:$purple;}
.purple-bg{background-color:$purple;}
.purple-bg-op{background-color:rgba($purple, $alpha);}
.blue-dark{color:$blue-dark;}
.blue-dark-bg{background-color:$blue-dark;}
.blue-light{color:$blue-light;}
.blue-light-bg{background-color:$blue-light;}
.red{color:$red;}
.red-bg{background-color:$red;}
.grey{color:$grey;}
.grey-bg{background-color:$grey;}
.grey-light{color:$grey-light;}
.grey-light-bg{background-color:$grey-light;}
.white{color:$white;}
.white-bg{background-color:$white;}
.pink{color:$pink;}
.pink-bg{background-color:$pink;}
