.btn-filtro{
    border:3px solid $blue-light;
    color:$blue-light;
    margin:auto;
    padding:0.5rem 1rem;
    text-align:center;
    width:60%;
    max-width:200px;
    cursor:pointer;
    display:block;
    &:hover{
        opacity:$alpha;
    }
}
a.btn-filtro{
    margin-top:2rem;
}
.filtro-cont{
    height:0;
    overflow:hidden;
    .icono{
        position:relative;
        margin: 0 2rem;
        span{
            position:absolute;
            top:30px;
            left:50%;
            transform:translateX(-50%);
        }
    }
}
#paso-3{
    label{
        margin-bottom:2rem;
    }
    h3{
        margin-top:2rem;
    }
}
.filtro{
    padding-bottom:2rem;
    margin-bottom:2rem;
    border-bottom:1px solid $purple;
    clear:both;
    &:last-of-type{
        border:none;
    }
    .icono{
        .active{
            border-bottom:4px solid $blue-light;
        }
    }
    label{
        margin-bottom:2rem;
    }
}
.cerrar-filtros{
    float:right;
    font-size:2rem;
    cursor:pointer;
}
.ver-mapa{
    text-align:right;
    span{
        float:right;
        margin-top:-5px;
    }
}
