@mixin space-around{
    -webkit-justify-content:space-around;
    justify-content:space-around;
}
@mixin space-between{
    -webkit-justify-content:space-between;
    justify-content:space-between;
}

html{
    font-size:16px;
}
body{
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:16px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.center{
    text-align:center;
}
img{
    width:100%;
}
ul{
	list-style-type:none;
}
header{
	overflow:hidden;
	padding:1rem;
    nav{
        ul.nav{
            margin:2rem 0;
        }
        ul.nav li{
        	line-height:50px;
            text-align:center;
            width:100%;
            color:$blue-light;
        }
    }
    .navbar-inverse{
        background-color:$purple;
        color:$blue-light;
        .navbar-toggle{
            border:none;
            &:hover{
                background:none;
            }
            .icon-bar{
                background-color:$blue-light;
            }
        }
        .navbar-collapse,
        .navbar-form{
            border-color:$white;
        }
    }
    .navbar-brand{
        height:60px;
        img{
            height:100%;
            width:auto;
        }
    }
    .navbar-header{
        margin:0;
    }
    h1{
    	margin:0;
    	content:"";
    }
    h3{
        color:$blue-light;
    }
    .navbar-toggle{
        margin:13px 0;
        .icon-bar:nth-of-type(2) {
        	  top: 1px;
        }
        .icon-bar:nth-of-type(3) {
          	top: 2px;
        }
        .icon-bar {
        	  position: relative;
        	  transition: all 500ms ease-in-out;
        }
        &.active{
            .icon-bar:nth-of-type(1) {
            	  top: 6px;
            	  transform: rotate(45deg);
            }
            .icon-bar:nth-of-type(2) {
            	  background-color: transparent;
            }
            .icon-bar:nth-of-type(3) {
            	  top: -6px;
            	  transform: rotate(-45deg);
            }
        }
    }
}
section{
    margin:auto;
}

footer{
	background-color:$purple;
    width:100vw;
    bottom:0;
    padding:30px;
    -webkit-align-items: center;
    align-items: center;
    border-top:2px solid $blue-light;
    a{
        color:$blue-light;
    }
    .secondary-menu{
        @include space-between;
        max-width:320px;
        margin:0 auto 30px;
    }
    .social-icons{
        margin-bottom:0;
        @include space-around;
        max-width:300px;
        margin:0 auto;
        li{
            margin:0 1rem;
        }
    }

}
.navbar{
    margin:0;
}
.main_cont{
    margin-top:60px;
}
.clearfix{
    clear:both;
}
.container-override{
    margin-left:-15px;
    width:100vw;
}
.mobile{
    .image{
        margin-top:1rem;
        margin-bottom:1rem;
    }
}
.categoria{
     @include space-around;
    .cat-item{
        cursor:pointer;
        &.selected{
            color:$blue-light;
            border-bottom:2px solid $purple;
        }
    }
}
.pasos{
    @include space-around;
    .pasos-sel{
        background-color: $blue-light;
        color:$white;
        border-radius: 25px;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
        &.active{
            color:$blue-light;
            background-color:$purple;
        }
    }
}
.paso{
    display:none;
}
#paso-1{
    display:block;
}
