@mixin space-around{
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:space-around;
    justify-content:space-around;
}
@mixin space-between{
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:space-between;
    justify-content:space-between;
}
@mixin shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}
@mixin center-vertical{
    display:-webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
html {
  box-sizing: border-box;
  font-size:16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:16px;
}
.space-between{
    @include space-between;
}
.center{
    text-align:center;
}
img{
    max-width:100%;
    vertical-align:inherit;
}
ul{
	list-style-type:none;
}
section{
    min-height:200px;
}
#header_inner{
	padding:1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position:fixed;
    top:0;
    left:0;
    z-index:3;
    nav{
        @include space-between;
        a{
            height:100%;
        }
        .element{
            height:35px;
            display:inline-block;
            .navbar-header,img{height:100%;}
            .navbar-header{
                float:left;
                svg{
                    polygon{
                        fill:$white;
                    }
                }
                .nav-menu{
                    @include shadow;
                    display:none;
                    color:$white;
                    position:absolute;
                    top:67px;
                    z-index:2;
                    right:0;
                    background-color:rgba($purple,$alpha_3);
                    padding:1rem 0;
                    border-top:1px solid $blue-light;
                    li{
                        padding:1rem 2rem;
                        text-align:right;
                        font-weight:300;
                        a{
                            color:$white;
                            font-weight:inherit;
                        }
                    }
                }
                &.search{
                    padding-right:2rem;
                    img{
                        height:25px;
                        margin-top:5px;
                    }
                }
                .search-bar{
                    width:100vw;
                    background-color:rgba($blue-light,$alpha_3);
                    input{
                        margin-left:15%;
                        background-color:transparent;
                        color:#fff;
                        position:relative;
                        z-index:1;
                        width:70%;
                        max-width:70%;
                        margin-bottom:2rem;
                        border:none;
                        border-bottom:2px solid $white;
                        font-size:24px;
                        padding:0.3rem 0;
                        opacity:1;
                        background:url(../img/pin.png) no-repeat right center;
                    }
                    .sod_select{
                        width:70%;
                        margin-left:15%;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        background-color:transparent;
                        border-color:$white;
                        color:$white;
                        z-index:2;
                        margin-bottom:2rem;
                        &:before{
                            content:"";
                        }
                        &:after{
                            bottom:calc(50% - 7px);
                            font-size:14px;
                        }
                        .sod_list_wrapper{
                            width:70vw;
                            border-color:$white;
                            background-color:rgba($white,$alpha_3);
                            color:$purple;
                            .active{
                                color:$blue-light;
                            }
                        }
                    }
                    .call-to-action{
                        a{
                            float:left;
                            position:relative;
                            z-index:1;
                            margin-left:30%;
                        }
                    }
                }
            }
        }
    }
    h1{
    	margin:0;
    	content:"";
    }
    h3{
        color:$blue-light;
    }
}
section{
    margin:auto;
}

footer{
	background-color:$purple;
    width:100vw;
    bottom:0;
    padding:0.75rem 2rem;
    -webkit-align-items: center;
    align-items: center;
    border-top:2px solid $blue-light;
    a{
        color:$blue-light;
    }
    .secondary-menu{
        @include space-between;
        max-width:320px;
        margin:0 auto 30px;
    }
    .social-icons{
        margin-bottom:0;
        @include space-around;
        max-width:300px;
        margin:0 auto;
        li{
            margin:0 1rem;
        }
    }

}
.navbar{
    margin:0;
}
.main_cont{
    margin-top:6rem;
}
.clearfix{
    clear:both;
}
.container-override{
    margin-left:-15px;
    width:100vw;
}
.mobile{
    .image{
        margin-top:1rem;
        margin-bottom:1rem;
    }
}
.categoria{
     @include space-around;
    .cat-item{
        cursor:pointer;
        &.selected{
            color:$blue-light;
            border-bottom:2px solid $purple;
        }
    }
}
.pasos{
    @include space-around;
    .pasos-sel{
        background-color: $blue-light;
        color:$white;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
        &.active{
            color:$blue-light;
            background-color:$purple;
        }
    }
}
.paso{
    display:none;
}
#paso-1{
    display:block;
}
.show{
    display:block;
}
.inicio,.registro,.ver-mapa{
    cursor:pointer;
}
.overlay{
    display:none;
    z-index:10;
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    .overlay-bg{
        position:fixed;
        width:100vw;
        height:100vh;
        top:0;
        left:0;
        background-color:rgba($white,$alpha_3);

    }
    .map{
        width:80vw;
        height:80vh;
        top:10vh;
        left:10vw;
        margin:auto;
        position:fixed;
        background-color:$white;
        @include shadow;
        display:none;
        .close-btn{
            position:absolute;
            color:$blue-light;
            right:0;
            top:-40px;
            font-size:30px;
            cursor:pointer;
        }
    }
    .account-container{
        display:none;
        width:80%;
        max-width:320px;
        margin:auto;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color:$white;
        @include shadow;
        text-align:center;
        .close-btn{
            position:absolute;
            color:$blue-light;
            right:0;
            top:-40px;
            font-size:30px;
            cursor:pointer;
        }
        h3{
            padding:1rem 2rem;
            text-align:left;
            margin:0;
        }
        input{
            border:none;
            border-bottom:2px solid $blue-light;
            margin:auto;
            padding:0.3rem;
            margin-top:2rem;
        }
        label{
            margin-top:2rem;
        }
        .cta{
            float:left;
            margin-top:2rem;
            margin-left:15%;
        }
        p{
            padding:2rem 1rem 3rem;
            width:100%;
            span{
                text-decoration:underline;
                cursor:pointer;
            }

        }
    }
}
.mapa-sub-cont{
    @include space-between;
    @include center-vertical;
}
#ruta-crear, #ruta{
    .paso{
        .cta_2{
            float:left;
            margin:0 5%;
        }
    }
}
.profile{
    div,svg{
        float:right;
    }
}
.icons{
    .icono{
        text-align:center;
        width:85px;
        margin:1rem 0;
        .sprite-1{
             margin:auto 25px;
        }
    }
}
