.iconos{
    @include space-around;
    h2{
        margin-top:0;
    }
}
.info{
    @include center-vertical;
    @include space-between;
}
.btn-volver{
    float:left;
    text-align:left;
}
.nombre{
    text-align:right;
    float:right;
}
