.styleguide{
    .header{
        @include space-around;
        align-content: center;
        border-bottom:2px solid $blue-light;
        padding:1rem 0;
        h3{
            margin:0;
        }
    }
}
.big-margin{margin:3rem 0 2rem;}
.small-margin{margin:1rem 0;}
.space-bottom{margin-bottom:3rem !important;}
.space-top{margin-top:1rem !important;}
.move-left{margin-left:1rem;}
hr{
    background-color:$blue-light;
    height: 1px;
    border:0;
}
.mid-width{width:600px;}
.cta{
    font-size:1rem;
    padding:0.5rem 1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align:center;
    cursor:pointer;
    width:auto;
    margin:auto;
    &.main{
        background-color:$purple;
        color:$white;
        border:3px solid $purple;
        &:hover{
            opacity:$alpha;
        }
        &:active{
            background-color:rgba($grey-light,$alpha_2);
        }
    }
    &.secondary{
        border:3px solid $blue-light;
        background-color:$blue-light;
        color:$white;
        &:hover{
            opacity:$alpha;
        }
        &:active{
            background-color:rgba($grey-light,$alpha_2);
        }
    }
    &.full{width:100%;}
    &.big{width:70%;}
    &.small{width:40%;}
}

form label{
    width:200px;
    float:left;
}
input[type="checkbox"],input[type="radio"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:0 0.5rem 0 0.5rem;
    vertical-align:middle;
    background:url(../img/icon-sprite.png) -40px top no-repeat;
    cursor:pointer;
    float:left
}
input[type="checkbox"]:checked + label span {
    background:url(../img/icon-sprite.png) -60px top no-repeat;
}
input[type="radio"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:0 1rem 0 0;
    vertical-align:middle;
    background:url(../img/icon-sprite.png) -20px top no-repeat;
    float:left;
}
input[type="radio"]:checked + label span {
    background:url(../img/icon-sprite.png) left top no-repeat;
}
input,textarea,select{
    font-size:1rem;
    margin:1em 0;
}
input[type='submit']{
    padding:.5rem 2rem;
}
input[type='text'],input[type='email'],input[type='password'],textarea{
    padding: 1rem .6rem;
    border: 3px solid $purple;
    background:$white;
    color:$purple;
    width:80%;
    max-width:320px;
}
.error{
    border:3px solid $red !important;
    color:$red !important;
    position:relative;
}
.valid{
    border:3px solid $blue-light !important;
    color:$blue-light !important;
}
textarea{
    max-width:600px;
    width:80%;
    height:10rem;;
}
.selector_cont label{
    float:none;
}
.left{float:left;}
.right{float:right;}
.full{
    width:100%;
}
.colors{
    @include space-around;
}
.color{margin-right:1rem;}
.circle{
    width:100px;
    height:100px;
    border-radius:50px;
}
.home-intro,
.navbar-header{
    .sod_select{
        width:70%;
        margin-left:15%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color:transparent;
        border-color:$white;
        color:$white;
        z-index:2;
        margin-bottom:2rem;
        &:before{
            content:"";
        }
        &:after{
            bottom:calc(50% - 7px);
            font-size:14px;
        }
        .sod_list_wrapper{
            width:70vw;
            border-color:$white;
            background-color:rgba($white,$alpha_3);
            color:$purple;
            .active{
                color:$blue-light;
            }
        }
    }
    .call-to-action{
        a{
            float:left;
            position:relative;
            z-index:1;
            margin-left:30%;
            &:hover{
                color:$white;
                border-color:$white;
                background-color:transparent;
            }
        }
    }
}
.icono{
    float:left;
}
.sprite-2{
    width:80px;
    height:80px;
    background-image: url("../img/sprite2-mobile.png");
}
.sprite-1{
    width:35px;
    height:35px;
    background-image: url("../img/sprite1.png");
}
.sprite-3{
    width:35px;
    height:35px;
    background-image: url("../img/sprite3.png");
}
.icono-1{
    background-position: 0 0;
}
.icono-2{
    background-position: 0 -80px;
}
.icono-3{
    background-position: -80px 0;
}
.icono-4{
    background-position: -80px -80px;
}
@media screen and (min-width: 540px) {
    .sprite-2{
        width:125px;
        height:125px;
        background-image: url("../img/sprite2.png");
    }
    .icono-2{
        background-position: 0 -125px;
    }
    .icono-3{
        background-position: -125px 0;
    }
    .icono-4{
        background-position: -125px -125px;
    }
}
.icono-5{
    background-position: 0 0;
}
.icono-6{
    background-position: 0 -35px;
}
.icono-7{
    background-position: 0 -70px;
}
.icono-8{
    background-position: 0 -105px;
}
.icono-9{
    background-position: -35px 0;
}
.icono-10{
    background-position: -35px -35px;
}
.icono-11{
    background-position: -35px -70px;
}
.icono-12{
    background-position: -35px -105px;
}
.icono-13{
    background-position: 0 -140px;
}
.icono-14{
    background-position: -35px -140px;
}
.icono-15{
    background-position: -70px 0;
}
.icono-16{
    background-position: -70px -35px;
}
.icono-17{
    background-position: -70px -70px;
}
.icono-18{
    background-position: -70px -105px;
}
.icono-19{
    background-position: -70px -140px;
}
.icono-20{
    background-position: -105px 0;
}
.icono-21{
    background-position: -105px -35px;
}
.icono-22{
    background-position: -105px -70px;
}
.icono-23{
    background-position: -105px -105px;
}
.icono-24{
    background-position: -112px -140px;
    width:20px;
}
