a{
    color:$purple;
    text-decoration:none;
    &:hover{
        color:$pink;
        text-decoration:none;
    }
}
.oswald{
    font-family: 'Oswald', sans-serif;
    font-weight:400;
}
.oswald h3{
    font-family:inherit;
}
.roboto-thin{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
.roboto-thick{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
}
h1,
h2,
h3{
    text-transform:uppercase;
}

h1,
.t-h1{
    font-family: 'Oswald', sans-serif;
    font-size:3rem;
    margin-bottom:1rem;
}
.mobile h1{
    font-size:2rem;
}
h2,
.t-h2{
    font-family: 'Oswald', sans-serif;
    font-size:2rem;
    margin-bottom:1rem;
}
.mobile h2{
    font-size:1.5rem;
}
h3,
.t-h3{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:1.5rem;
    margin-bottom:1rem;
}
.mobile h3{
    font-size:1.25rem;
}
p,label{
    max-width:600px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:1rem;
    margin-bottom:1rem;
}
label{
    margin-top:1rem;
    margin-bottom:0;
}
